
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.tree {
  user-select: none;
  padding: 0.1em 0.1em 2em 0.1em;
  margin: 0;
  font-family: Ubuntu, sans-serif;
}
.tree, .tree ul {
  margin: 0;
  padding: 0;
  line-height: 1.4em;
  list-style-type: none;
}
.tree ul {
  padding-left: 0.7em;
}
.tree li {
  white-space: nowrap;
}
.tree .row {
  margin-left: -10em;
  padding-left: 10em;
  margin-right: -10em;
  padding-right: 10em;
  cursor: pointer;
}
.tree .tight {
  margin: 0 -2px 0 -4px;
}
.theme-light .tree.blur .row:hover {
  box-shadow: inset 0 0 0.3em rgba(0,0,0,0.5);
}
.theme-dark .tree.blur .row:hover {
  box-shadow: inset 0 0 0.3em rgba(255,255,255,0.5);
}
@-webkit-keyframes pulse-dark {
  0% {
    box-shadow: inset 0 0 0.2em rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: inset 0 0 0.4em rgba(255,255,255,0.5);
  }
}
@-webkit-keyframes pulse-light {
  0% {
    box-shadow: inset 0 0 0.2em rgba(0,0,0,0.5);
  }
  100% {
    box-shadow: inset 0 0 0.4em rgba(0,0,0,0.5);
  }
}

.theme-light .tree .row.selected {
  box-shadow: inset 0 0 0.3em rgba(0,0,0,0.5);
  -webkit-animation: pulse-light 0.5s infinite alternate;
  background-color: rgba(0,0,0,0.05);
}
.theme-dark .tree .row.selected {
  box-shadow: inset 0 0 0.3em rgba(255,255,255,0.5);
  -webkit-animation: pulse-dark 0.5s infinite alternate;
  background-color: rgba(255,255,255,0.05);
}



.theme-light .tree .row.active {

  background-color: rgba(0,0,0,0.1);
}
.theme-dark .tree .row.active {
  background-color: rgba(255,255,255,0.1);
}

::-webkit-scrollbar {
  background-color: rgba(100,100,100,0.05);
  width: 1em;
  height: 1em;
}
.ace_editor ::-webkit-scrollbar, .ace_editor ::-webkit-scrollbar-thumb {
  font-size: 16px;
}
::-webkit-scrollbar-thumb {
  border: solid 3px transparent;
  box-shadow: inset 0 0 0 .1em rgba(128, 128, 128, 0.2), inset 0 0 .7em .2em rgba(128, 128, 128, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 0 .1em rgba(128, 128, 128, 0.8), inset 0 0 .7em .2em rgba(128, 128, 128, 0.8);
}

.wrap {
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
}
body, .tree, .titlebar, .main, .editor, .preview, .dragger, .image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.tree {
  right: auto;
  width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.main {
  left: 200px;
  top: 2em;
  height: auto;
  width: auto;
}
.titlebar {
  -webkit-app-region: drag;
  bottom: auto;
  left: 200px;
  width: auto;
  font-size: 1em;
  line-height: 2em;
  height: 2em;
  text-align: left;
  padding-left: 1em;
}
.titlebar .fade {
  opacity: 0.6;
  font-size: 0.8em;
  margin-right: 0.2em;
}
.closebox {
  -webkit-app-region: no-drag;
  position: absolute;
  right: 0.25em;
  top: 0;
  height: 1.5em;
  width: 2.75em;
  line-height: 1.5em;
  text-align: center;
  color: #fff;
  background-color: #933;
  cursor: pointer;
}
.closebox:hover {
  background-color: #e11;
}

.popup {
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}
.theme-light .popup {
  color: #000;
  text-shadow: 0 0 0.25em #fff;
  background-color: rgba(255,255,255,0.5);
}
.theme-dark .popup {
  color: #fff;
  text-shadow: 0 0 0.25em #000;
  background-color: rgba(0,0,0,0.5);
}

.ace_gutter, .dragger {
  cursor: ew-resize !important;
}
.preview {
  background-color: #cf6969;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsEFCs5qJx92gAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAK0lEQVQ4y2M0MjL6z4AHGBsb45NmYGKgEIwaMBgMYCEUz2fPnh0NxOFvAADQeAVQbGocpgAAAABJRU5ErkJggg==');
}

.preview .dragger {
  width: 2em;
  right: auto;
}
.preview .image {
  left: 2em;
  width: auto;
  background-position: center;
}
.preview .zoom {
  background-repeat: no-repeat;
  background-size: contain;
}

.dialog {
  box-shadow: 0 0 .6em rgba(0,0,0,0.7);
  z-index: 12;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  border: 1px solid rgba(128,128,128,0.5);

}

.theme-light .dialog {
  background-color: #bbb;
  color: #000;
}

.theme-dark .dialog {
  background-color: #000;
  color: #bbb;
}

.dialog .title {
  line-height: 2em;
  height: 2em;
  display: flex;
}
.dialog .title .content {
  text-align: center;
  flex: 1;
  padding: 0 .6em;
}
.dialog .title .closebox {
  position: static;
}
.dialog .body {
  padding: 0.5em 0.5em 0 0.5em;
}

.input {
  display: flex;
  margin-bottom: 0.5em;
}

.input input {
  font-size: 1em;
  line-height: 1em;
}

.input-field {
  flex: 1
}

.input-field:not(:first-child) {
  border-left: 0
}

.input-field:not(:last-child) {
  border-right: 0
}

.input-item {
  font: inherit;
  font-weight: 400;
}

.input-field,.input-item {
  border: 1px solid rgba(120,120,120,0.8);
  padding: .5em .75em;
  margin-left: 0;
  margin-right: 0;
}

.shield {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
ul.contextMenu {
  position: absolute;
  z-index: 12;
  margin: 0;
  padding: 0.2em 0;
  list-style-type: none;
  font-size: 0.9em;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}
.theme-dark ul.contextMenu {
  background-color: #000;
  color: #ddd;
  border: 1px solid rgba(255,255,255,0.5);
}
.theme-light ul.contextMenu {
  background-color: #fff;
  color: #333;
  border: 1px solid rgba(0,0,0,0.5);
}
ul.contextMenu li {
  padding: 0.4em 1em 0.4em 0.4em;
  cursor: pointer;
}
ul.contextMenu li i {
  margin-right: 0.4em;
}
ul.contextMenu li:hover {
  background-color: #78CF8A;
  color: #000;
}
ul.contextMenu li.disabled,
ul.contextMenu li.sep {
  height: inherit;
  line-height: inherit;
  background-color: inherit;
  color: inherit;
  cursor: inherit;
  opacity: 0.3;
}
ul.contextMenu li.sep {
  padding: 0;
}
ul.contextMenu li.sep hr {
  margin: 0.2em 0.4em;
  height: 0;
  border: 0;
  height: 1px;
}
.theme-dark ul.contextMenu li.sep hr{
  background-color: #fff;
}
.theme-light ul.contextMenu li.sep hr{
  background-color: #000;
}

.theme-dark .wrap {
  color: #fff;
  background-color: #111;
}
.theme-light .wrap {
  color: #111;
  background-color: #f8f8f8;
}

.tree .row.dirty {
  font-style: italic;
}
.tree .row.staged {
  font-weight: bold;
}
