[submodule "lib/git-sha1"]
	path = lib/git-sha1
	url = git@github.com:creationix/git-sha1.git
[submodule "lib/js-git"]
	path = lib/js-git
	url = git@github.com:creationix/js-git.git
[submodule "lib/mine"]
	path = lib/mine
	url = git@github.com:creationix/mine.git
[submodule "lib/dombuilder"]
	path = lib/dombuilder
	url = git@github.com:creationix/dombuilder.git
[submodule "lib/pathjoin"]
	path = lib/pathjoin
	url = git@github.com:creationix/pathjoin.git
[submodule "lib/bodec"]
	path = lib/bodec
	url = git@github.com:creationix/bodec.git
[submodule "lib/carallel"]
	path = lib/carallel
	url = git@github.com:creationix/carallel.git
[submodule "lib/simple-mime"]
	path = lib/simple-mime
	url = git@github.com:creationix/simple-mime.git
[submodule "lib/css-parse"]
	path = lib/css-parse
	url = git@github.com:reworkcss/css-parse.git
[submodule "lib/ace-builds"]
	path = lib/ace-builds
	url = git@github.com:ajaxorg/ace-builds.git
[submodule "filters"]
	path = filters
	url = git@github.com:creationix/my-filters.git
[submodule "lib/http-codec"]
	url = git@github.com:creationix/http-codec.git
	ref = refs/heads/master
	path = lib/http-codec
[submodule "lib/jon-parse"]
	url = git@github.com:creationix/jon-parse.git
	ref = refs/heads/master
	path = lib/jon-parse
[submodule "lib/git-tree"]
	url = git@github.com:creationix/git-tree.git
	ref = refs/heads/master
	path = lib/git-tree
[submodule "lib/pako"]
	url = git@github.com:nodeca/pako.git
	ref = refs/heads/master
	path = lib/pako
[submodule "lib/js-github"]
	url = git@github.com:creationix/js-github.git
	ref = refs/heads/master
	path = lib/js-github
[submodule "lib/git-chrome-fs"]
	path = lib/git-chrome-fs
	url = git@github.com:creationix/git-chrome-fs.git
[submodule "lib/forge-bin"]
	url = git@github.com:creationix/forge-bin.git
	ref = refs/heads/master
	path = lib/forge-bin
