[submodule "filters"]
	path = filters
	url = git@github.com:creationix/my-filters.git

[submodule "ace-builds"]
	path = ace-builds
	url = git@github.com:ajaxorg/ace-builds.git

[submodule "js-git"]
	path = js-git
	url = git@github.com:creationix/js-git.git
