
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tree {
  user-select: none;
  padding: 0.3em 0.3em 1.5em 0.3em;
  margin: 0;
}
.tree, .tree ul {
  margin: 0;
  padding: 0;
  line-height: 1.4em;
  list-style-type: none;
}
.tree ul {
  padding-left: 0.7em;
}
.tree li {
  white-space: nowrap;
}
.tree .row {
  margin-left: -10em;
  padding-left: 10em;
  margin-right: -10em;
  padding-right: 10em;
  cursor: pointer;
}
.tree .tight {
  margin: 0 -2px 0 -4px;
}

::-webkit-scrollbar {
  background-color: rgba(100,100,100,0.05);
}
::-webkit-scrollbar-thumb {
  border: solid 2px transparent;
  box-shadow: inset 0 0 0 1px rgba(128, 128, 128, 0.2), inset 0 0 10px 1px rgba(128, 128, 128, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 0 1px rgba(128, 128, 128, 0.8), inset 0 0 10px 1px rgba(128, 128, 128, 0.8);
}

body, .tree, .titlebar, .main, .editor, .preview, .dragger, .image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.tree {
  right: auto;
  width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.main {
  left: 200px;
  top: 30px;
  height: auto;
  width: auto;
}
.titlebar {
  -webkit-app-region: drag;
  bottom: auto;
  height: 30px;
  left: 200px;
  width: auto;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
}
.titlebar .fade {
  opacity: 0.6;
  font-size: 0.8em;
  margin-right: 0.2em;
}
.closebox {
  -webkit-app-region: no-drag;
  position: absolute;
  right: 4px;
  top: 0;
  height: 22px;
  width: 44px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background-color: #933;
  cursor: pointer;
}
.closebox:hover {
  background-color: #e11;
}

.popup {
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.theme-light .popup {
  color: #000;
  text-shadow: 0 0 5px #fff;
  background-color: rgba(255,255,255,0.5);
}
.theme-dark .popup {
  color: #fff;
  text-shadow: 0 0 5px #000;
  background-color: rgba(0,0,0,0.5);
}

.ace_gutter, .dragger {
  cursor: ew-resize !important;
}
.preview {
  background-color: #cf6969;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsEFCs5qJx92gAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAK0lEQVQ4y2M0MjL6z4AHGBsb45NmYGKgEIwaMBgMYCEUz2fPnh0NxOFvAADQeAVQbGocpgAAAABJRU5ErkJggg==');
}

.preview .dragger {
  width: 20px;
  right: auto;
  background-color: #3a3a3a;
}
.preview .image {
  left: 20px;
  width: auto;
  background-position: center;
}
.preview .zoom {
  background-repeat: no-repeat;
  background-size: contain;
}

.dialog {
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
  z-index: 12;
  background-color: #bbb;
  color: #000;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.dialog .title {
  background-color: #3a3a3a;
  color: #fff;
  line-height: 30px;
  height: 30px;
  display: flex;
}
.dialog .title .content {
  text-align: center;
  flex: 1;
  padding: 0 10px;
}
.dialog .title .closebox {
  position: static;
}
.dialog .body {
  padding: 0.5em 0.5em 0 0.5em;
}

.input {
  display: flex;
  margin-bottom: 0.5em
}

.input-field {
  flex: 1
}

.input-field:not(:first-child) {
  border-left: 0
}

.input-field:not(:last-child) {
  border-right: 0
}

.input-item[type=submit], .input-field[type=submit] {
  background-color: #EED1B3;
}
.input-item {
  background-color: #ddd;
  color: #000;
  font: inherit;
  font-weight: 400;
}

.input-field,.input-item {
  border: 1px solid #888;
  padding: .5em .75em
}

.input-field:first-child,.input-item:first-child {
  border-radius: 2px 0 0 2px
}

.input-field:last-child,.input-item:last-child {
  border-radius: 0 2px 2px 0
}

.shield {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
ul.contextMenu {
  position: absolute;
  z-index: 12;
  margin: 0;
  padding: 0.2em 0;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  color: #000;
  list-style-type: none;
  font-size: 0.9em;
}
ul.contextMenu li {
  padding: 0.4em 1em 0.4em 0.4em;
  cursor: pointer;
}
ul.contextMenu li i {
  margin-right: 0.4em;
}
ul.contextMenu li:hover {
  background-color: #78CF8A;
  color: #000;
}
ul.contextMenu li.disabled,
ul.contextMenu li.sep {
  height: inherit;
  line-height: inherit;
  background-color: inherit;
  color: inherit;
  cursor: inherit;
  opacity: 0.3;
}
ul.contextMenu li.sep {
  padding: 0;
}
ul.contextMenu li.sep hr {
  margin: 0.2em 0.4em;
  height: 0;
  border: 0;
  height: 1px;
  background-color: #000;
}
body.theme-dark  {
  color: #fff;
  background-color: #111;
}
body.theme-light  {
  color: #111;
  background-color: #f8f8f8;
}
.theme-dark .titlebar {
  background-color: #3a3a3a;
  color: #fff;
}
.theme-light .titlebar {
  background-color: #eee;
  color: #333;
}

.tree .row.dirty {
  font-style: italic;
}
.tree .row.staged {
  font-weight: bold;
}
